.navbar-brand {
    color: white;
}

/* hero background image */
.bgimage {
    height:100vh;
    background: url('images/technology.jpg');
    background-size:cover;
    position:relative;
}

/* text css above hero image */
.hero_title {
    font-size: 5.0rem;
    font-family: 'Oleo Script Swash Caps', cursive;
}

.hero_desc {
    font-size: 2rem;
    font-family: 'Hubballi', cursive;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.bag, 
.dataetik,
.visionen,
.kontakt,
.kvalitetssikring {
    height: 100%;
}

p {
    font-family: Raleway, sans-serif;
}

.vision {
    border: 5px solid;
    border-radius: 10%;
    height: 58rem;
}
