/* display background color black on navbar scroll */
.navbarScroll.navbarDark {
    background-color: black;
}

/* hero background image */
.bgimage {
    height:100vh;
    background: url('images/technology.jpg');
    background-size:cover;
    position:relative;
}

/* text css above hero image */
.hero_title {
    font-size: 4.5rem;
}

.hero_desc {
    font-size: 2rem;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

/* spacing on all sections */
#vision, #gøre, #egen, #arbejdsmiljø { 
    margin-top: 1rem;
    padding-top: 1rem;
}

#arbejdsmiljø {
    padding-bottom: 1rem;
}

/* gøre og vision image */
.v-img {
    max-width: 100%;
    border-radius: 10%;
}

.button {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 20px;
  border: 2px solid #adb5bd;
  background: #adb5bd;
}
.css-button-fully-rounded--sand:hover {
  background: #fff;
  color: #adb5bd
}

#bg {
   background: linear-gradient(170deg, #FFFFFF 0%, #505050 100%);
}

/* footer styling */
#footer {
    background-color: #808080;
    text-align: center;
    height: 3rem;
}
